* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #cefa5c;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: #e2e8d3;
}

.сaption {
  margin: 30px 0 50px;
  text-align: center;
  font-size: 56px;
  font-weight: 900;
  text-transform: uppercase;
  color: #766ee4;
}

.main {
  padding: 20px 50px;
}

.section__сaption {
  margin: 0 0 20px 0;
  font-size: 42px;
  font-weight: 700;
  color: #29df1f;
}

.section__сaption-small {
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: 700;
  color: #bb970a;
}

.article__text {
  padding-left: 70px;
}

.paragraph {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 400;
  color: #383535;
}

.list {
  padding-left: 90px;
  font-size: 16px;
  font-weight: 400;
  color: #383535;
}

.list__li {
  margin-bottom: 7px;
  list-style-type: square;
} 

.list__li:last-child {
  margin-bottom: 0;
}

.button {
  margin-right: 30px;
	padding: 8px 14px;
  display: inline-block;
  vertical-align: middle; 
  font-size: 16px;
	background-color: #29df1f;
	border: 5px solid #27d41e;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  color: #fff;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
	background-color: #27ce1e;
}

.button:active {
	margin-top: 3px;
	margin-bottom: -3px;
}

.section__nav {
  text-align: center;
}

.footer {
  padding: 25px 0;
  background-color: #cefa5c;
}

.footer__link {
  display: block;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  color: #11af08;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #766ee4;
} 
